.community-container {
  display: flex;
  flex-direction: column;
  width: 98.98vw;
  background-color: #ffffff;
  color: #ffffff;
  align-items: flex-start;
  gap: 50px;
  padding: 70px;
  color: #1a194d;
  position: relative;
  overflow-y: scroll;
}

.community-container .community-header {
  color: #1a194d;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  position: relative;
}

.community-container .search-bar {
   width: 55vw;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 20px;
   flex: auto;
   position: relative;
}

.search-bar .search-input {
   display: flex;
   align-items: center;
   position: relative;
   gap: 10px;
}

.search-input .search-icon {
   position: absolute;
   font-size: 20px;
   left: 10px;
   top: 12px;
}

.search-input .search-input-holder {
   background-color: transparent;
   border: solid 2px #1a194d20;
   border-radius: 5px;
   height: 40px;
   width: 300px;
   padding-left: 40px;
   outline: none;
   color: #1a194d;

   font-family: "Poppins", sans-serif;
}

.search-input .search-input-holder:focus {
   border-color: #1a194d;
}

.search-input .search-community-button {
   background-color: #1a194d;
   position: relative;
   font-family: "Poppins", sans-serif;
}

.search-bar .sort-by {
   display: flex;
   align-items: center;
   gap: 20px;
   position: relative;
   left: 26vw;
   width: 28%;
}

.sort-by .sort-by-text {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-size: 18px;
}

.sort-by .sort-dropdown {
   appearance: none;
   width: 70%;
   height: 4vh;
   padding: 1px 5px;
   background-color: #ffffff;
   color: #1a194d;
   outline: none;
   border: solid 1px #1a194d50;
   border-radius: 5px;
   font-family: "Poppins", sans-serif;
   cursor: pointer;
   transition: all ease 0.5s;
}

.sort-dropdown .sort-dropdown-item {
   color: #1a194d;
   font-family: "Poppins", sans-serif;
   font-size: 15px;
   transition: all ease 0.5s;
}

.sort-dropdown .sort-dropdown-item:hover {
   cursor: pointer;
   accent-color: #1a194d;
}

.search-bar .show-as {
   position: relative;
   left: 28vw;
   display: flex;
   align-items: center;
   height: 30px;
}

.show-as .show-as-block {
   border: solid 1px #1a194d50;
   padding: 5px 5px 2px 5px;
   font-size: 20px;
}

.show-as .show-as-block:hover {
   cursor: pointer;
   background-color: #dbdbdb;
}


.search-bar .add-community {
   display: flex;
   position: relative;
   align-items: center;
   gap: 10px;
   color: #ffffff;
   background-color: #1a194d;
   height: 50px;
   padding: 5px 20px;
   border-radius: 10px;
   left: 30vw;

   font-family: "Poppins", sans-serif;
   font-size: 15px;
}

.community-container .cards-holder {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   gap: 60px;
}

.community-container .select-page {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.select-page .prev-button, .page-button {
   display: flex;
   align-items: center;
   border: solid 1px #1a194d;
   background-color: transparent;
   color: black;

   font-family: "Poppins", sans-serif;
   font-weight: 600;
}