.com-holder {
  width: 83.36vw;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #131619;
  scrollbar-width: none;
  height: 90.8vh;
  position: relative;
}

.com-holder::-webkit-scrollbar {
  display: none;
}

.com-holder .com-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  position: fixed;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #131619;
  top: 89vh;
  left: 89vw;
  transition: all ease 500ms;
  color: #F6C90E;
  box-shadow: 0px 1px 2px 0px #F6C90E, 1px 1px 2px 0px #F6C90E,
    1px 1px 5px 0px #F6C90E, 1px 1px 7px 0px #F6C90E;
}

.com-menu:hover {
  cursor: pointer;
  width: 13em;
  transform: translateX(-10em);
  border-radius: 5px;
  justify-content: flex-start;
  padding: 0px 10px;
  box-shadow: 0px 6px 15px 2px #F6C90E;
}

.com-menu .com-menu-icon {
  position: relative;
  font-size: 1.7em;
  top: 8%;
}

.com-menu-icon .com-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  color: #F6C90E;
  position: relative;
}

.com-menu-item .com-menu-item-icon {
  position: relative;
}

.com-menu-item .com-menu-item-icon:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F6C90E;
  transition: 0.5s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  bottom: 2px;
  left: 0;
}

.com-menu-item .com-menu-item-icon-active {
  position: relative;
}

.com-menu-item .com-menu-item-icon-active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #F6C90E;
  transition: 0.5s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  bottom: 2px;
  left: 0;
}


.com-holder .inner-holder {
  position: relative;
  width: 83.36vw;
  height: 90.7vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}