.navbar {
  background-color: #ffffff;
  height: 8vh;
  position: relative;
  width: 98vw;
  display: flex;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
}

.navbar-frame {
  position: relative;
  width: 36.45vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20%;
  left: 18%;
}

.navbar-logo {
  height: 100px;
  width: 100px;
  position: relative;
}

.navbar-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  gap: 50px;
  width: 80%;
}

.navbar-label-wrapper:hover {
  color: #ee4962;
}

.navbar-label-wrapper {
  background: #ffffff;
  cursor: pointer;
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  border: none;
  width: 50%;
  text-align: center;
  position: relative;
  padding: 10px 0px;
}

.navbar-label-wrapper::after {
  content: "";
  position: absolute;
  background-color: #ee4962;
  height: 3px;
  width: 0%;
  transition: 0.8s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 5px;
}

.navbar-label-wrapper:hover::after {
  width: 100%;
}

.avtive-navbar-link {
  background: #ffffff;
  cursor: pointer;
  color: #ee4962;
  font-family: "Poppins", Helvetica;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  border: none;
  width: 50%;
  position: relative;
  text-align: center;
  padding: 10px 0px;
}

.avtive-navbar-link::after {
  content: "";
  position: absolute;
  background-color: #ee4962;
  height: 3px;
  width: 100%;
  transition: 0.8s;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  left: 0;
  bottom: 5px;
}

.login-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  right: 10%;
  width: 8%;
}

.log-in-button {
  background: #1ab79d;
  color: #ffffff;
  font-family: "League Spartan", Helvetica;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  stroke: none;
  width: 100%;
  text-align: center;
}

.log-in-button:hover {
  background: #ee4962;
}

.profile-avatar {
  border-radius: 50%;
  width: 40%;
  height: 50%;
  position: relative;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  left: -50%;
  background-color: #0d0f10;
  border-radius: 8px;
  padding: 10px 30px 10px 10px;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 120px;
  height: 20px;
  width: 20px;
  background: #0d0f10;
  transform: rotate(45deg);
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: 500ms ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: 500ms ease;
}

.dropdown-menu ul li {
  padding: 10px 0;
  border-top: 1px solid #0000001a;
}

.dropdown-menu ul li:hover div {
  color: #ee4962;
  cursor: pointer;
}

.dropdown-menu ul li:hover img {
  opacity: 1;
  cursor: pointer;
}
