/* #0D0F10 */

.chatbot {
  position: fixed;
  height: 4em;
  width: 4em;
  border-radius: 50%;
  background-color: #131619;
  top: 89vh;
  left: 94vw;
  transition: all ease 500ms;
  color: #F6C90E;
  box-shadow: 0px 1px 2px 0px #F6C90E, 1px 1px 2px 0px #F6C90E,
    1px 1px 5px 0px #F6C90E, 1px 1px 7px 0px #F6C90E;
}

.chatbot:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 10px 2px #F6C90E;
  cursor: pointer;
}

.chatbot .chatbot-icon {
  font-size: 1.7em;
  position: relative;
  top: 28%;
  left: 30%;
}
