.edit-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 3rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: auto;
  color: #000000;
  box-sizing: border-box;
}

.edit-container .title-container {
  display: flex;
  align-items: center;
  align-self: stretch;
}

.edit-container .edit-title {
  color: #000000;
  font-family: "Poppins";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
}

.edit-container .profile-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40%;
}

.profile-pic-container .prof-avatar {
  border-radius: 50%;
  width: 50%;
  height: 70%;
}

.profile-pic-container .edit-pic-icon {
  background-color: #4ac97e;
  color: aliceblue;
  box-shadow: 5px 5px 5px #dfdffc99;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  right: 40px;
  top: 50px;
  position: relative;
  font-size: 15px;
}

.profile-pic-container .edit-pic-icon:hover {
  background-color: #ee4962;
  cursor: pointer;
}

.edit-container .save-edit {
  width: 35%;
  height: 10%;
  background-color: #4ac97e;
  font-family: "Poppins", sans-serif;
}

.edit-container .form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
  flex-wrap: wrap;
  padding-bottom: 10px;
  width: 60%;
  height: 70%;
  box-sizing: border-box;
}

.edit-container .edit-input-holder {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.edit-container .edit-input {
  display: flex;
  height: 48px;
  padding: 0px 16px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #363a3d;
  background: transparent;
  color: #000000;
  outline: none;
  box-sizing: border-box;
}

.edit-container .edit-input:focus {
  border-color: #4ac97e;
}

.edit-container .edit-input-label {
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.15px;
}

.edit-container .shobkichu {
  width: 100%;
  height: 90%;
  display: flex;
  gap: 20%;
  align-items: center;
}